.book{
    background-color: lightblue;
    text-align: CENTER;
    max-width:50px;
    max-height:100px;
    font-size:8px;
}

.bookshelf-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left:0;
    overflow-y: scroll;
    width:250px;
    padding:10px;
    transition: width 0.5s;
}


.bookshelf-container.collapsed{
    width:75px;
    transition: width 0.5s;
    

    
}

.bookshelf-container.collapsed > .book{
    max-width: 80;
    background-color:red;
    
}

