

.sidebar{
    position: fixed;
    left:0;
    max-width:300px;
    height: 100%;
    padding:10px;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    z-index:99;
    background-color:#ccc;
}


.sidebar.collapsed{
    width:50px;
    transition: width 0.5s;
}

.sidebar:hover{
    background-color:#777;
}

.sidebar .sidebar-title{
    transform-origin: bottom left;
    transition: transform 0.2s;
    flex-shrink: 1;
    margin-bottom:15px;
}

.sidebar.collapsed .sidebar-title{
    transform-origin: bottom left;
    transform: rotate(90deg);
    
}

.sidebar .container {
    overflow-y: scroll;
}

.sidebar.collapsed .container {
    display: flex;
    overflow-y:hidden;
    flex-direction: column;
}

.sidebar.collapsed .book{
    width:80%;
    max-height:60px;
}

.book{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightblue;
    text-align: CENTER;
    font-size:8px;
}

.card-body{
    flex-shrink: 3;
}

.card-header{
    flex-shrink:1;
}

.bookshelf{
    flex-shrink:5;
}